<?php

return ['bjyauthorize' => [
    'default_role' => 'guest',
    'identity_provider' => 'ScService.IdentityProvider',
    'unauthorized_strategy' => 'ScListener.UnauthorizedStrategy',
    'role_providers' => [
        'ScService.RoleProvider' => [],
    ],
    'guards' => [
        'BjyAuthorize\Guard\Route' => [

            // ZfcUser
            /* routes 'zfcuser/changepassword' and 'zfcuser/changeemail'
             * are not supported.
             */
            [
                'route' => 'zfcuser',
                'roles' => ['user', 'admin'],
            ],
            [
                'route' => 'zfcuser/logout',
                'roles' => ['user', 'admin'],
            ],
            [
                'route' => 'zfcuser/login',
                'roles' => ['guest', 'admin'],
            ],
            [
                'route' => 'zfcuser/register',
                'roles' => ['guest'],
            ],

            // ScContent
            [
                'route' => 'home',
                'roles' => ['guest', 'admin'],
            ],
            [
                'route' => 'sc-install',
                'roles' => ['guest', 'admin'],
            ],
            [
                'route' => 'sc-admin/content-manager',
                'roles' => ['admin'],
            ],
            [
                'route' => 'sc-admin/content-search',
                'roles' => ['admin'],
            ],
            [
                'route' => 'sc-admin/category/add',
                'roles' => ['admin'],
            ],
            [
                'route' => 'sc-admin/category/edit',
                'roles' => ['admin'],
            ],
            [
                'route' => 'sc-admin/article/add',
                'roles' => ['admin'],
            ],
            [
                'route' => 'sc-admin/article/edit',
                'roles' => ['admin'],
            ],
            [
                'route' => 'sc-admin/file/add',
                'roles' => ['admin'],
            ],
            [
                'route' => 'sc-admin/file/edit',
                'roles' => ['admin'],
            ],
            [
                'route' => 'sc-admin/file/delete',
                'roles' => ['admin'],
            ],
            [
                'route' => 'sc-admin/theme',
                'roles' => ['admin'],
            ],
            [
                'route' => 'sc-admin/theme/enable',
                'roles' => ['admin'],
            ],
            [
                'route' => 'sc-admin/theme/disable',
                'roles' => ['admin'],
            ],
            [
                'route' => 'sc-admin/theme/default',
                'roles' => ['admin'],
            ],
            [
                'route' => 'sc-admin/layout',
                'roles' => ['admin'],
            ],
            [
                'route' => 'sc-admin/layout/index',
                'roles' => ['admin'],
            ],
            [
                'route' => 'sc-admin/layout/add',
                'roles' => ['admin'],
            ],
            [
                'route' => 'sc-admin/layout/delete',
                'roles' => ['admin'],
            ],
            [
                'route' => 'sc-admin/widget/configure',
                'roles' => ['admin'],
            ],
            [
                'route' => 'sc-admin/widget/edit',
                'roles' => ['admin'],
            ],
            [
                'route' => 'sc-admin/widget/visibility',
                'roles' => ['admin'],
            ],
        ],
    ],
]];
