<?php

/* If you want to add a new "widget module" - set it 
 * mywidget.global.php configuration, at this example:
 */
return array(
	'sc' => array(
		/* File types catalog class
		 */
		'file_types_catalog_class' => 'ScContent\Service\FileTypesCatalog',
		 
		/* Backend entities
		 */
		'entity_back_category_class' => 'ScContent\Entity\Back\Category',
		'entity_back_article_class'  => 'ScContent\Entity\Back\Article',
		'entity_back_file_class'     => 'ScContent\Entity\Back\File',
		
		'themes' => array(
			'sc-default' => array(
				'display_name' => 'ScContent Default',
        		'screenshot' => 'sc-default/img/theme.png',
        		'description' => 'The default theme with several regions.',
				
				/* Frontend
				 */
				'frontend' => array(
					'layout' => 'sc-default-front-layout',
					'regions' => array(
						'header' => array(
							'display_name' => 'Header',
							'template' => 'sc-default-front-region-header',
							'contains' => array(
							
							),
						),
						'content_top' => array(
							'display_name' => 'Content Top',
							'template' => 'sc-default-front-region-content-top',
							'contains' => array(
							
							),
						),
						'content_middle' => array(
							'display_name' => 'Content Middle',
							'template' => 'sc-default-front-region-content-middle',
							'contains' => array(
							    'content',
							),
						),
						'content_bottom' => array(
							'display_name' => 'Content Bottom',
							'template' => 'sc-default-front-region-content-bottom',
						),
						'aside_first' => array(
							'display_name' => 'Aside First',
							'template' => 'sc-default-front-region-aside-first',
							'contains' => array(
							    'login',
							),
						),
						'aside_second' => array(
							'display_name' => 'Aside Second',
							'template' => 'sc-default-front-region-aside-second',
							'contains' => array(
							
							),
						),
						'footer' => array(
							'display_name' => 'Footer',
							'template' => 'sc-default-front-region-footer',
							'contains' => array(
							
							),
						)
					),
				),
				
				/* Backend
				 */
				'backend' => array(
					'layout' => 'sc-default-back-layout',
					
				),				
			),
		),
		'widgets' => array(
			'login' => array(
				'display_name' => 'Login',
				'description'  => 'Login widget.',
				'frontend'   => array(
					'controller' => 'sc-controller.front.widget.login',
					'action' => 'index',
				),
			),
			'test_1' => array(
			    'display_name' => 'Test 1',
			),
			'test_2' => array(
			    'display_name' => 'Test 2',
			),
			'test_3' => array(
			    'display_name' => 'Test 3',
			),
		),
	    'db' => array(
	    	'driver' => 'pdo',
			'dsn' => 'mysql:dbname=dbname;host=localhost',
			'username' => 'username',
			'password' => 'password',
			'driver_options' => array(
	            PDO::MYSQL_ATTR_INIT_COMMAND => 'SET NAMES \'UTF8\'',
	        )
	    ),
	),
);
